/*IMPORTACION FUENTES TEXTO*/
@font-face {
    font-family: 'Comfortaa Regular';
    src: url(./fonts/Comfortaa-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

/*FUENTE PARA TITULOS*/
@font-face {
    font-family: 'Display';
    src: url(./fonts/The_Display_St.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

:root {
    --prm-bg-color: #04080f;
    --sec-bg-color: #F0EFF4;
    --border-color: #C7BEF3;
    --font-color: black;
    --hover-font-color: #9D8DF1;
    --font-family: 'Comfortaa Regular';
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
    font-family: var(--font-family);
}

header {
    background-color: var(--prm-bg-color);
    padding-top: 20px;
}

/*---ESTILO-DEL-NAVBAR---*/
.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--sec-bg-color);
    border-bottom: 2px solid var(--border-color);
}

.hmMenu {
    display: none;
    width: 25px;
    margin-top: 6px;
    margin-left: 5%;
}

.hmMenu hr {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.logoOaxis {
    margin-left: 5%;
}

.navFirstList {
    display: flex;
    z-index: 1;
    width: 100%;
    height: 55px;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
}

.navSecondList {
    display: none;
    position: absolute;
    z-index: 1;
    top: 75px;
    padding: 0;
    background-color: var(--sec-bg-color);
    list-style: none;
    border-left: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

.navUserLog {
    display: none;
    position: absolute;
    z-index: 1;
    top: 75px;
    right: 3.5%;
    padding: 20px;
    font-size: 15px;
    text-decoration: underline;
    background-color: var(--sec-bg-color);
    border-left: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

.navCheckUserLogo {
    position: absolute;
    top: 15px;
    right: 10%;
    height: 40px;
    width: 40px;
    opacity: 0;
}

.navUserLog label,
input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navFirstElement {
    height: 100%;
    display: flex;
    align-items: center;
}

.navLink {
    text-decoration: none;
    color: var(--font-color);
}

.navLink:hover {
    color: var(--hover-font-color);
    animation: fontFlashAni 1.6s ease 1;
}

.buttonStyle {
    background-color: white;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    margin: 5px;
    width: 110px;
    font-family: var(--font-family);
}

.navInput {
    border-radius: 5px;
    border: 2px solid black;
    width: 230px;
    height: 20px;
}

.logoUser {
    height: 40px;
    width: 40px;
    margin-right: 10%;
    margin-top: 5px;
}

.logoOaxis {
    margin-left: 80px;
}

.navCheckHm {
    display: none;
    position: absolute;
    right: 56%;
    width: 40%;
    height: 40px;
    opacity: 0;
}

.navFirstList li {
    display: flex;
    justify-content: center;
    text-align: center;
}

.navSecondList li {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navFirstElement:hover>.navSecondList {
    display: block;
}

.navCheckUserLogo:checked~.navUserLog {
    display: block;
}

@keyframes fontFlashAni {

    0%,
    35%,
    80% {
        color: var(--font-color)
    }

    20%,
    60%,
    90% {
        color: var(--hover-font-color)
    }
}

/*---ESTILO-DEL-BLOQUE-DE-PROYECTOS---*/
.proyectsBlockTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    width: 6%;
    height: 250px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    background-color: var(--sec-bg-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.proyectsBlock {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    margin: 10px;
    width: auto;
    background-color: var(--sec-bg-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    height: 250px;
}

.proyectBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyectImg {
    height: 124px;
    width: 220px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
}

.proyectTitle {
    margin: 10px;
}

.proyectInfo {
    display: none;
    overflow-y: auto;
    height: 250px;
    width: auto;
    margin: 10px;
    background-color: var(--sec-bg-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.proyectInfo .proyectTitle {
    text-decoration: underline;
}

.proyectText {
    text-align: justify;
    margin: 20px;
}

/*SCROLL-BAR-STYLE*/
::-webkit-scrollbar {
    width: 15px;
    margin: 10px;
}

::-webkit-scrollbar-track {
    background: var(--seg-bg-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(149, 99, 151, 0.596);
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

/*MEDIA-QUERYS*/
@media (max-width: 825px) {

    .hmMenu,
    .navCheckHm {
        display: block;
    }

    .navCheckUserLogo {
        left: 77%;
    }

    .navFirstList {
        display: none;
        position: absolute;
        left: 0px;
        top: 73px;
        flex-direction: column;
        width: 200px;
        height: 350px;
        background-color: var(--sec-bg-color);
        border-right: 2px solid var(--border-color);
        border-bottom: 2px solid var(--border-color);
    }

    .navSecondList {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        top: 75px;
        left: 202px;
        border-left: none;
        width: 250px;
        height: 325px;
    }

    .navSecondList li {
        width: 100%;
    }

    .navUserLog {
        top: 73px;
    }

    .logoOaxis {
        margin: 0px;
    }

    .logoUser {
        margin-top: 5px;
        margin-right: 0px;
    }

    .navCheckHm:checked~.navFirstList {
        display: flex;
    }

    .navFirstElement:hover>.navSecondList {
        display: flex;
    }
}

/*SLIDER*/
.slider{
    width: 80%;
    height: 35%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    border-radius: 15px;
    overflow: hidden;

}

.contenedor{
    display: grid;
    width: 100%;
    grid-template-columns: 100% 100% 100%;
    animation: mover 15s infinite;
}

#imagen1{
    position: relative;
    background-image: url(img/3.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

#imagen2{
    position: relative;
    background-image: url(img/2.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

#imagen3{
    position: relative;
    background-image: url(img/1.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.fondo-slider{
    position: absolute;
    background:linear-gradient(#221564, #ee2e45 );
    width: 100%;
    height: 500px;
    opacity: 0.7;
}

.texto{
    position: relative;
    width: 50%;
    margin: auto;
    margin-top: 220px;
    color: white;
    text-align: center;
    font-size: 3em;
    font-family: 'Comfortaa Regular';
}

@keyframes mover {
    25%{
        margin-left:0%;
    }
    28%{
        margin-left:-100%;
    }
    54%{
        margin-left:-100%;
    }
    58%{
        margin-left:-200%;
    }
    84%{
        margin-left:-200%;
    }
    90%{
        margin-left:-100%;
    }
    100%{
        margin-left:0%;
    }
}

/* FOOTER*/
footer {
    font-family:'Comfortaa Regular';  ;
    background-color: #9d8df1;
    text-align: center;
    width: 100%;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    bottom: 0;
}

.zona{
    margin-top: 7%;
    padding-bottom: 10px;
}

.nueva{
    margin-top: 3%;
    padding-bottom: 3%;
}    

.email{
    padding-bottom: 1%;
}


.col{
    float: left;
    width: 31%;
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.divfoot::after{
    content: "";
    display: table;
    clear: both;
}

.acordeon{
    width: 95%;
    background-color: white;
    margin-top: 4px;
    margin-bottom: 10px;
    margin-right: 5%;
    
}

section p{
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    font-size: 13px;
    background-color: #7c71b6;;
    transition: all .2s ease-in-out;
    margin: 0;
    padding: 0;
}

section a{
    text-decoration: none;
    display: block;
    display: left;
    padding: 10px;
    font-size: 13px;
    background-color: #6c62a5;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid #7147a8;
    margin: 0;
}

section:target p{
    max-height: 120px;
    padding: 10px
}


/*-----------MEDIA QUERIES-----------*/

@media (max-width: 825px){
    .col{
        float: left;
        width:100%;
        align-items: center;
    }
    .zona{
        margin-top: 1%;
        margin-bottom: 0px;
    }
    .acordeon{
        width: 90%;
    }
}

@media (max-width: 1090px){
    .zona{
        padding-bottom: 35px;
    }
    
}

.circulo {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-left: 1%;
    margin-top: 2%;
}

.circulo1 {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-left: 1%;
    margin-top: 3%;
}

.texto1 {
    width: 50%;
    margin-left: -10px;
    margin-top: -15px;
    display: inline-block;
    color: #04080f;
    padding: 40px;
    font-family: "Comfortaa Regular";
    text-align: justify;
}

.texto2 {
    width: 60%;
    margin-left: -10px;
    display: inline-block;
    margin-top: -15px;
    color: #04080f;
    padding: 40px;
    font-family: "Comfortaa Regular";
    text-align: justify;
}

.imagen_texto1 {
    width: 45%;
    margin-left: 50px;
    display: inline-block;
    justify-content: space-evenly;
    background-color: #f0eff4;
    align-items: center;
}

.imagen_texto2 {
    width: 45%;
    margin-left: 50px;
    display: inline-block;
    justify-content: space-evenly;
    background-color: #f0eff4;
    align-items: center;
}

.texto_ruben {
    width: 40%;
    margin-top: -10px;
    display: inline-block;
    color: #04080f;
    padding: 40px;
    font-family: "Comfortaa Regular";
    vertical-align: bottom;
}

.texto_estela {
    width: 35%;
    margin-top: -10px;
    display: inline-block;
    color: #04080f;
    padding: 40px;
    font-family: "Comfortaa Regular";
    vertical-align: bottom;
}

.texto_valen {
    width: 36%;
    margin-top: -10px;
    display: inline-block;
    color: #04080f;
    padding: 40px;
    font-family: "Comfortaa Regular";
    vertical-align: bottom;
}

.texto_pregunta {
    display: inline-flex;
    background-color: #c7bef3;
}

.mover_texto {
    display: inline-block;
    width: 49%;
    margin-left: 1%;
}

.fondo_imagenes {
    display: inline-block;
    width: 47%;
}

.img1 {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-top: 20px;
    margin-left: 40px;
}

.img2 {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-top: 20px;
}

.img3 {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-top: 20px;
    margin-left: 45px;
}

.mover_texto2 {
    display: inline-block;
}

.texto_grande {
    width: 50%;
    margin-left: 50px;
    margin-top: 5%;
    color: #04080f;
    padding: 40px;
    font-family: "Comfortaa Regular";
    text-align: justify;
}

.texto_grande h1 {
    margin-bottom: 12%;
}

.mover_texto3 {
    display: flex;
    align-items: center;
    margin-left: 9%;
}

.mover_texto4 {
    display: inline-block;
    margin-top: -10px;
}

@media (max-width: 825px) {

    .imagen_texto1,
    .imagen_texto2 {
        width: 100%;
        margin: 0;
    }

    .texto2 {
        width: 50%;
    }

    .mover_texto,
    .texto_grande {
        width: 80%;
        margin-left: 5px;
        margin: auto;
    }

    .fondo_imagenes {
        width: 100%;
    }

    .texto_pregunta {
        display: inline-block;
    }

    .texto_ruben,
    .texto_estela,
    .texto_valen {
        margin-top: 2%;
    }

    .texto_estela {
        margin-left: 20px;

    }

    .mover_texto3 {
        margin-left: 30px;
    }
}